*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
    background: url(../img/hero.jpg) no-repeat center center/cover;
    color: #ffffff;

}

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#5c4c4c00, transparent) ;
    backdrop-filter: blur(10px);
    color: #ffffff;
    font-family:initial;
    padding: 10px 15px;
    text-align: left;
    z-index: 10;
    
}
main{
    margin-top: 55px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

a{
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    width: 100%;
    height: auto;
}
footer{
    justify-content: space-between;
    background: #2c040407;
    backdrop-filter: blur(3px);
    color: #ffffff;
    padding: 10px 15px;
    text-align: left;
    border: solid 1px #1616161b;
}
.hero{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #80808052;
    backdrop-filter: blur(1px);
   
}
.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    zoom: 2;
}

.container{
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #80808052 ;
    backdrop-filter: blur(1px);

}
.coluna{
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
    background-color: #2514142c;
    justify-content: flex-start;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    flex-wrap: wrap; 
    gap: 40px;
}
.direita{
    display: flex;
    flex-direction: row-reverse;

}
.esquerda{
    display: flex;
    flex-direction: row;
}
.figure-img{
    display: flex;
    width: 40%;
    height: auto;

}
.legenda-img{
    position: absolute;
    top: 3%;
    padding: 4%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.24);
}